.axisWrapper {
  overflow-x: hidden;
  margin-left: 80px;
}

.axis {
  position: relative;
  height: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #263646;
}

.tick {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 11px;
  color: #e0e0e0;
  white-space: nowrap;
}
